*{
    padding: 0;
    box-sizing: border-box;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*--------------------------------------*/

.base{
    width: 700px;
    /* height: 700px; */
    background: rgb(196, 196, 196);
    border-radius: 20px;
    padding: 20px 60px;
}


.contact{
    margin-bottom: 70px;
}

/*--------------------------------------*/


.name, .email, .query, .msj{
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* margin-bottom: 70px; */
}



.label-text-1{
    width: 100px;
    /* background: red; */
}

.label-text-2{
    width: 90px;
    /* background: red; */
}

.name>input, .email>input, .query>div, .componente>textarea{    
    width: 280px;
    height: 50px;
    outline: none;
    border: 2px rgb(141, 141, 141) solid;
    border-radius: 5px;
    font-size: 25px;
    padding: 15px;
}

.query>div{
    background: white;
}

.div-query{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.div-query>input{
    outline: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 100%;
    border: 1px rgb(141, 141, 141) solid;
}

.div-query>input:checked{
    background: rgb(192, 225, 252);
}

label{
    font-size: 15px;
}

.email>input{
    width: 100%;
}

.componente{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.componente>textarea{
    width: 100%;
    height: 150px;
    resize: none;
}

.espacios{
    margin-bottom: 70px;
}

.tituloLabel{
    position: relative;
    left: 15px;
    bottom: 10px;
}




