*{
    padding: 0;
    box-sizing: border-box;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.base{
    width: 700px;
    height: 700px;
    background: rgb(196, 196, 196);
    border-radius: 20px;
    padding: 20px 60px;
}



.name, .email, .query{
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 70px;
}

.contact{
    margin-bottom: 50px;
}

.label-text-1{
    position: absolute;
    bottom: 60px;
    left: 10px;
    width: 100px;
    /* background: red; */
}

.label-text-2{
    position: absolute;
    bottom: 60px;
    right: 180px;
    width: 90px;
    /* background: red; */
}

.name>input, .email>input, .query>div{    
    width: 280px;
    height: 50px;
    outline: none;
    border: 2px rgb(141, 141, 141) solid;
    border-radius: 5px;
    font-size: 25px;
    padding: 15px;
}

.email>input{
    width: 100%;

}






